<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
>
    <Package Id="Spriggit.Installer.Windows" Name="Spriggit" Manufacturer="Mutagen Modding" Version="0.38.6">
        <Property Id="ApplicationFolderName" Value="Spriggit" />
        <Property Id="WixAppFolder" Value="Spriggit" />
        <Property Id="ADDTOPATH" Value="0" />
        <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)..\LICENSE.rtf" />
        <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)..\SpriggitDialog.png" />
        
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
        <MediaTemplate EmbedCab="true" />
        
        <!-- Property for WixUI_InstallDir -->
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        
        <!-- Reference our custom UI -->
        <UIRef Id="WixUI_InstallDir" />
        <UIRef Id="WixUI_Common" />

        <Feature Id="Main">
            <ComponentGroupRef Id="CLI" />
            <ComponentGroupRef Id="PathEnvironment" />
        </Feature>
    </Package>
</Wix>
